@page
@model AspNetCoreDoodle.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";

}

<h2>The product you're looking for was not found</h2>

<a asp-page="./Dhawal" class="btn btn-primary">Back to product list</a>